.about {
    padding: 1px;
}
.aboutDet {
    position: absolute;
    left: 10%;
    padding-top: 16%;
}
.aboutHead {
    font-size: 50px;
    font-family: 'Lobster', cursive;
    color: #fff;
    animation: fadeIn 1s 0s backwards;
}
.aboutDetails {
    color: #fff;
    font-size: 17px;
    line-height: 1.3;
    animation: fadeIn 2s 2s backwards;
}


.aboutCube {
    width: 50%;
	 height: 100%;
	 top: 0;
	 padding-top: 18%;
	 margin-left: 0;
	 position: absolute;
	 right: 0;
	 overflow: hidden;
     animation: fadeIn 1.5s 1.5s backwards;
}
.cubeSpinner {
    animation-name: spincube;
	 animation-timing-function: ease-in-out;
	 animation-iteration-count: infinite;
	 animation-duration: 12s;
	 transform-style: preserve-3d;
	 transform-origin: 100px 100px 0;
	 margin-left: calc(50% - 100px);
}
.cubeSpinner div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px 0px lightyellow;
}
.cubeSpinner .face1 {
    transform: translateZ(100px);
    background: url(../../assets/images/html.svg) rgba(255, 255, 255, 0.4);
    background-repeat: no-repeat;
    background-position: center;
}
.cubeSpinner .face2 {
    transform: rotateY(90deg) translateZ(100px);
    background: url(../../assets/images/css.svg) rgba(255, 255, 255, 0.4);
    background-repeat: no-repeat;
    background-position: center;
}
.cubeSpinner .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    background: url(../../assets/images/js.svg) rgba(255, 255, 255, 0.4);
    background-repeat: no-repeat;
    background-position: center;
}
.cubeSpinner .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    background: url(../../assets/images/ts.svg) rgba(255, 255, 255, 0.4);
    background-repeat: no-repeat;
    background-position: center;
}
.cubeSpinner .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    background: url(../../assets/images/react.svg) rgba(255, 255, 255, 0.4);
    background-repeat: no-repeat;
    background-position: center;
}
.cubeSpinner .face6 {
    transform: rotateX(-90deg) translateZ(100px);
    background: url(../../assets/images/next.svg) rgba(255, 255, 255, 0.4);
    background-repeat: no-repeat;
    background-position: center;
}
@keyframes spincube {
    from, to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
   }
    16% {
        transform: rotateY(-90deg);
   }
    33% {
        transform: rotateY(-90deg) rotateZ(90deg);
   }
    50% {
        transform: rotateY(-180deg) rotateZ(90deg);
   }
    66% {
        transform: rotateY(-270deg) rotateX(90deg);
   }
    83% {
        transform: rotateX(90deg);
   }
}



@media (min-width:601px) and (max-width:768px) {
    .aboutDet{
        padding-top: 6%;
    }
    .aboutCube {
        width: 100%;
        padding-top: 50%;
    }
}

@media screen and (max-width:425px) {
    .aboutDet{
        padding-top: 5%;
        left: 0;
    }
    .aboutHead {
        text-align: center;
    }
    .aboutDetails {
        margin-left: 32px;
    }
    .aboutCube {
        width: 100%;
        inset: auto;
        bottom: 100px;
        padding-top: 75px;
        height: 35%;
    }
}

@media screen and (max-width:320px) {
    .aboutDet{
        padding-top: 0;
    }
    .aboutHead {
        font-size: 30px;
    }
    .aboutDetails {
        font-size: 14px;
    }
    .aboutCube {
        width: 100%;
        inset: auto;
        bottom: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
        height: 35%;
    }
}