.contact {
    margin-left: 100px;
    padding-top: 3%;
    width: 100%
}

.contactWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formHead {
    font-size: 50px;
    font-family: 'Lobster', cursive;
    color: #fff;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s 0.5s backwards
}

.cFormInput,
textarea {
    border: none;
    background-color: rgba(32, 32, 32, 1);
    padding: 15px 25px;
    margin-bottom: 15px;
    color: #fff;
    width: 330px;
    border-bottom: 1px solid #007fff;
}

textarea {
    height: 150px;
    resize: none;
}

.cFormInput:focus,
textarea:focus {
    outline: none;
}

.cFormBtn {
    border: none;
    padding: 10px 25px;
    background-color: #007fff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: 1s all ease;
    font-size: 15px;
    font-weight: 700;
}

.cFormBtn:hover {
    background-color: #fff;
    color: #007fff;
}


.socialContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s 0.5s backwards;
    margin-right: 100px;
}

.box1,
.box2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 div,
.box2 div {
    color: #fff;
    background-color: #007fff;
    padding: 20px;
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    transition: 1s all ease;
    cursor: pointer;
}

.socialContact a {
    text-decoration: none;
    color: #fff;
}

.boxItem1 {
    background-color: #0a66c2 !important;
}

.boxItem2 {
    background-color: #24292f !important;
}

.boxItem3 {
    background-color: #bcb7b7 !important;
}

.boxItem4 {
    background-color: #4fcc5c !important;
}

.socialContact:hover .boxItem1,
.socialContact:hover .boxItem2,
.socialContact:hover .boxItem3,
.socialContact:hover .boxItem4 {
    filter: blur(3px);
    box-shadow: none;
}

.socialContact:hover .boxItem1:hover,
.socialContact:hover .boxItem2:hover,
.socialContact:hover .boxItem3:hover,
.socialContact:hover .boxItem4:hover {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}


@media screen and (max-width:768px) {
    .contact {
        margin-left: 0;
        padding-top: 0;
    }

    .formHead {
        font-size: 35px;
        text-align: center;
    }

    .contactWrapper {
        flex-direction: column;
    }

    .cFormInput,
    textarea {
        padding: 10px 10px;
        margin-bottom: 10px;
    }

    textarea {
        height: 50px;
    }

    .cFormBtn {
        padding: 7px 20px;
        margin-bottom: 10px;
    }

    .socialContact {
        position: absolute;
        bottom: 50px;
        margin-right: 0;
    }

    .box1 div,
    .box2 div {
        width: 100px;
        height: 55px;
        font-size: 40px;
    }
}

@media (min-width:601px) and (max-width:768px) {
    .formHead {
        font-size: 50px;
        text-align: center;
    }

    .cFormInput,
    textarea {
        padding: 15px 15px;
        margin-bottom: 15px;
    }

    textarea {
        height: 75px;
    }

    .cFormBtn {
        padding: 10px 25px;
    }

    .box1 div,
    .box2 div {
        width: 200px;
        height: 150px;
        font-size: 40px;
    }
}

/* @media (min-width:376px) and (max-width:425px) {
    .cFormInput, textarea {
        width: 265px;
    }
}
@media (min-width:321px) and (max-width:375px) {
    .cFormInput, textarea {
        width: 222px;
    }
    .socialContact {
        position: absolute;
        bottom: 0;
    }
}
@media (max-width:320px) {
    .cFormInput, textarea {
        width: 180px;
    }
    .socialContact {
        margin-top: 22px;
    }
    .box1 div, .box2 div {
        width: 50px;
        height: 50px;
    }
} */