.home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    flex: 4;
}

.homeTxt {
    font-size: 50px;
    font-family: 'Lobster', cursive;
    color: #fff;
    margin-left: 100px;
    animation: fadeIn 1s 0.5s backwards;
}

.homeImg {
    align-self: flex-end;
}

.homeImg img {
    width: 750px;
    height: 500px;
    animation: bounceIn 1s linear both;
}

/* 320px */
@media (max-width:600px) {
    .home {
        flex-direction: column;
        position: relative;
    }

    .homeTxt {
        font-size: 45px;
        text-align: center;
        margin-left: 0;
        position: absolute;
        top: 25px;
    }

    .homeImg {
        bottom: 5%;
        position: absolute;
        align-self: center;
    }

    .homeImg img {
        width: 370px;
        height: 230px;
    }
}


@media (min-width:321px) and (max-width:425px) {
    .homeImg {
        bottom: 12%;
    }
}


@media (min-width:601px) and (max-width:768px) {
    .home {
        flex-direction: column;
        position: relative;
    }

    .homeTxt {
        font-size: 72px;
        text-align: center;
        margin-left: 0;
        position: absolute;
        top: 25px;
    }

    .homeImg {
        bottom: 4%;
        position: absolute;
        align-self: center;
    }

    .homeImg img {
        width: 600px;
        height: 375px;
    }
}

@media (min-width:1024px) and (max-width:1365px)  {
    .home {
        flex-direction: column;
        position: relative;
    }
    .homeTxt {
        font-size: 72px;
        text-align: center;
        margin-left: 0;
        position: absolute;
        top: 25px;
    }
    .homeImg {
        bottom: 0%;
        position: absolute;
        align-self: center;
    }
}
